.game {
  header {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-menu {
    display: flex;
    &__item {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
    &__item + &__item {
      margin-left: 60px;
    }
  }

  &-calculation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    padding: 0 16px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    width: 70px;
    height: 70px;
    font-size: clamp(55px, 4vw, 74px);
    padding: 2px;
  }
}

.score-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;

  div {
    font-size: clamp(40px, 4vw, 60px);
  }
  h3 {
    text-align: center;
  }
}

.result {
  border: 2px solid #000;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  font-size: clamp(55px, 4vw, 74px);
  padding: 2px;
}

.result::-webkit-outer-spin-button,
.result::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  &-content {
    padding: 38px 30px 56px 30px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.modal-end {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  &-content {
    padding: 38px 30px 56px 30px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.red {
  color: red;
}
.green {
  color: green;
}
.notification {
  position: absolute;
}
.animation {
  position: absolute;
  right: 46%;
  font-size: 30px;
  bottom: 31%;
  transform: translate(0, 50%);
  animation: plus 0.5s ease-in-out;
  opacity: 0;
}
@keyframes plus {
  0% {
    opacity: 1;
    top: 30%;
  }
  100% {
    opacity: 0.2;
    top: -70%;
  }
}

@media screen and (max-width: 578px) {
  .game {
    header {
      flex-direction: column;
      gap: 20px;
    }
  }
}
