.login {
  header {
    padding: 20px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-menu {
    display: flex;

    &__item {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
    &__item + &__item {
      margin-left: 60px;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 60px 0;

  &-heading {
    color: rgb(54, 98, 228);
    margin-bottom: 20px;
  }
  &-input {
    width: 300px;
    height: 46px;
    padding: 16px 16px;
    border: 2px solid rgb(54, 98, 228);
    border-radius: 5px;
  }

  &-radio__wrapper {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
  }
}

.warning-text {
  color: red;
  opacity: 0;
  visibility: hidden;
}
