@import "./login.scss";
@import "./game.scss";
@import "./leaderboard.scss";
@import "./rules.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.btn {
  width: 230px;
  height: 46px;
  background-color: rgb(54, 98, 228);
  border: none;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // margin-top: 20px;
}
